html{background-color:transparent;height:-webkit-fill-available;}
body{background-color:transparent;overflow:hidden;user-select:none;}
img#pet{height:160px;width:160px;}
#toolbar img,#rs img,#pop img,#psi img{height:22px;width:22px;background:transparent;}
#toolbar img{padding-left:2px;padding-right:2px;}
#toolbar img#move{-webkit-app-region:drag;}
#toolbar img:hover,#rs img:hover,#pop img:hover{filter:brightness(1.9);}
img{-webkit-user-drag:none;}
#pop,#menu,#psi,#rs{display:none;}
#pop,#menu,#psi,#rs{position:fixed;top:0;left:0;padding:3px;border:2px solid #88f;background:#ddf;color:#000;border-radius:5px;width:-webkit-fill-available;}
#pop{opacity:0.8;line-height:1.4em;user-select:all;}
#rs{z-index:9;}
#menu button{width:-webkit-fill-available;display:block;text-align:left;border:none;background:transparent;padding:3px;font-size:0.9em;}
#menu button:hover{background:#07f;color:#fff;}
#petdiv{position:fixed;bottom:0;}