html{height:100%;}
body{font-family:'HarmonyOS Sans SC','Noto Sans CJK SC','微软雅黑','宋体','Simsun';height:-webkit-fill-available;margin:0;}
ul li{list-style-image:url("list.gif");}
div.window{border-radius:6px;background:#eef;height:100%;overflow:hidden;}
div.titlebar{text-align:right;display:flex;padding:6px;background:linear-gradient(#aaf 50%,#ccf);}
div.titlebar span{-webkit-app-region:drag;text-align:left;width:-webkit-fill-available;}
div.titlebar button{float:right;border:none;background:transparent;}
div.titlebar button:hover{background:#07f8;}
div.titlebar button img{height:16px;width:16px;}
div.main{position:fixed;top:42px;left:16px;right:16px;bottom:8px;overflow:scroll;}
div.main button{background: linear-gradient(#ccf 50%,#aaf 50%);border: none;padding: 5px;min-width: 50px;border-radius: 5px;}
div.main button:hover{background: linear-gradient(#fe6 50%,#fd3 50%);}
a{color:#00f;}
a:hover,a:active{color:#f00;}
/* 一言难尽的 UI 外观…… */