html{height:100%;}
body{font-family:'Unifont';height:-webkit-fill-available;margin:0;}
ul li{list-style-image:url("list.gif");}
div.window{border-radius:6px;background:#ffe;height:100%;overflow:hidden;}
div.titlebar{text-align:right;display:flex;padding:6px;background:linear-gradient(#aaf 50%,#ccf);user-select:none;}
div.titlebar span{-webkit-app-region:drag;text-align:left;width:-webkit-fill-available;}
div.titlebar button{float:right;border:none;background:transparent;}
div.titlebar button:hover{background:#07f8;}
div.titlebar button img{height:16px;width:16px;}
div.main{position:fixed;top:8px;left:16px;right:16px;bottom:8px;overflow:auto;}
div.main button{border:3px solid #ec6;padding:5px;min-width:50px;background:transparent;font-family:'Unifont';font-size:16px;}
div.main button:hover{background:#fe6;}
a{color:#00f;}
a:hover,a:active{color:#f00;}
hr{border:1px solid #fe6;}
progress{-webkit-appearance:none;}
::-webkit-progress-bar {background:transparent;border:2px solid #fe6;}
::-webkit-progress-value {background-color: #fd0;}
